# Logs
logs
*.log
npm-debug.log*
.note
**/**/mytest.js
**/**/reset.js
**/**/env.json

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

#lib
lib
lib/**/**

#pem
*/**/*.pem
package-lock.json

#type
**/*.d.ts
**/*.js
**/*.js.map

!**/*/types.d.ts
!jest.config.js
!preprocessor.js