.DS_Store
.git*
.idea
.example
.docs
tsconfig.json
tsconfig.release.json
tslint.json
preprocessor.js
jest.config.js
.editorconfig
mytest.js
src
__tests__
mytest.js
**/**/mytest.js
**/**/reset.js
example
docs
.note
**/**/env.json
coverage/